<article class="flashing">
  <div class="parallax"></div>
</article>

<article class="article-1">
  <div class="content-1">
   <p class="strip strip-1 text-uppercase">Travel | Exchange Rate</p>
   <p class="strip strip-2 text-uppercase">currency</p>

  <!-- drop down, country list -->
  <div>
    <select id="money-rate" onchange="ChooseCountry(this)">
      <% @currency.each do |currencyCode, amount| %>
         <option value="<%= currencyCode %>"
           data-handle="<%= @currency[currencyCode] %>"
           label="<%= @currencyCodeToNameHash[currencyCode] %>">
         </option>

       <% end %>
    </select>
  <!--Example code output
    <option value="USD" selected="selected">United States Dollars</option>
    <option value="USD">United States Dollars</option>
    -->
  </div>

   <div class="currency">
     <div class="country">
       <!-- USD grabs other country and converts -->
       <p>USD > <input id="selectedCountry"></p>
     </div><!--/country-->

     <!-- displays the conversion -->
     <div id="exchange-rate"></div>
   </div><!--/currency-->



</article>

<!-- for drop down currency value -->
<script type="text/javascript">
  /* this is filling the input with a default onload*/
  window.onload = function(){
    document.getElementById('selectedCountry').value = 'USD';
    document.getElementById('exchange-rate').innerHTML = '$1';
  }

  function ChooseCountry(data) {
    document.getElementById('selectedCountry').value = data.value;
  }

  var moneyRate = document.getElementById('money-rate');
  var exchangeRate = document.getElementById('exchange-rate');

  moneyRate.addEventListener('change', function() {
    var selectedOption = this.options[this.selectedIndex];
    var handle = selectedOption.getAttribute('data-handle');
    var label = selectedOption.label;
    exchangeRate.innerHTML = "$" + handle;
    // exchangeRate.innerHTML = "handle: " + handle + " | name: " + label;
  });

</script>
